<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Component Tests" verbose="3" annotations="JDK" parallel="tests">
    <!--CHROME TEST-->
    <test name="Chrome_Security_Test" parallel="methods">
        <parameter name="browser" value="chrome" />
        <parameter name="isGrid" value="false" />
            <classes>
                <class name="com.sevadevelopment.instructure.tests.TestBridgeTopNavLinks">
                    <methods>
                        <exclude name="checkAlllinks"/>
                        <include name="verifyProductTabInTopNav"/>
                        <exclude name="verifySolutionsUrl"/>
                        <exclude name="verifyCustomerStoriesUrl"/>
                        <exclude name="verifyResourcesUrl"/>
                        <exclude name="verifyAboutUrl"/>
                        <exclude name="verifyBlogUrl"/>
                        <exclude name="verifyBookADemoUrl"/>
                    </methods>
                </class>

                <class name="com.sevadevelopment.instructure.tests.TestRequestDemoForm" >
                    <methods>
                        <exclude name="fillRequestDemoFormAndVerifyThankingPage"/>
                    </methods>
                </class>
            </classes>
    </test>

    <!--FIREFOX_TEST-->

    <test name="FireFox_Secutity_Test" parallel="methods">
        <parameter name="browser" value="firefox" />
        <parameter name="isGrid" value="false" />
            <classes>
                <class name="com.sevadevelopment.instructure.tests.TestBridgeTopNavLinks" >
                    <methods>
                        <exclude name="checkAlllinks"/>
                        <include name="verifyProductTabInTopNav"/>
                        <exclude name="verifySolutionsUrl"/>
                        <exclude name="verifyCustomerStoriesUrl"/>
                        <exclude name="verifyResourcesUrl"/>
                        <exclude name="verifyAboutUrl"/>
                        <exclude name="verifyBlogUrl"/>
                        <exclude name="verifyBookADemoUrl"/>
                    </methods>
                </class>
                <class name="com.sevadevelopment.instructure.tests.TestRequestDemoForm" >
                    <methods>
                        <exclude name="fillRequestDemoFormAndVerifyThankingPage"/>
                    </methods>
                </class>
            </classes>
    </test>
</suite>